/* body{
background-image: url('../utils/img/bg.jpg');
width: 100%; */

.container2 {
    /* background-image: url('../utils/img/bg.jpg'); */
    /* margin-top: 25px; */
    width: 100%;
    justify-content: space-between;


}

.body-rl {
    display: flex;
    


}

/* .img-container {
     
    justify-content: right;
    margin-left: 800px;
}

/* img {
    width: 100%; 
    max-width: 700px; 
    height: auto;
} */
.container-right img {


    height: 550px;
    margin-left: 200px;


}

/* .container-left {
    height: 550px;

} */

.line1 {
    font-size: 24px;
    color: #333;
    margin-top: 40px;
    margin-left: 40px;

}

h1 {
    font-family: 18px;
    font-weight: bolder;
    margin-left: 40px;
}

.line2 {
    font-size: 20px;
    color: #666;
    margin-top: 60px;
    margin-left: 40px;

}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 60px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: space-between;
}

button.v1 {
    background-color: #4CAF50;
    margin-top: 10px;
}

button.v2 {
    margin-left: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #008CBA;
}

button.v1:hover {
    color: palevioletred;

}

button.v2:hover {
    color: palevioletred;

}

.play-image img{
    display: flex;
    flex-direction: row;
    
    height: 55px ;
    margin-left: 20px;
    
   
    
}
.btn{
    display: flex;
    height: 60px;
    
}

.img-container {
    display: flex;
    flex-direction: row;
    position: relative;
   

}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: absolute;
    justify-content: space-between;
    animation: moveBox 10s linear infinite; 
}

@keyframes moveBox {
    0% {
        transform: translateX(0); 
      }
      100% {
        transform: translateX(100vw);
      }
    
}
.box:hover{
   animation-play-state: paused;
}